In [1]:
import pandas as pd
import numpy as np
from __future__ import division

In [6]:
filename = "../Desktop/datasets/train.csv"
df = pd.read_csv(filename)

df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

# What is the probability that someone survived given that they were a boy in 2nd class?

In [45]:
#number of people who survived
df_survived = df[df['Survived'] != 0]
len(df_survived)

342

In [46]:
#number of people who were male
df_male = df[df['Sex'] == 'male']
len(df_male)

577

In [47]:
#number of people in 2nd class
df_2ndclass = df[(df['Pclass'] !=1) & (df['Pclass'] !=3)]
len(df_2ndclass)

184

In [48]:
#number of people under 18
df_under18 = df[df['Age'] < 18]
len(df_under18)

113

In [49]:
#number of people who survived and were male
df_survivedM = df_survived[(df['Sex'] == 'male')]
len(df_survivedM)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

109

In [50]:
#number of people who survived and were in 2nd class
df_survived2 = df_survived[(df['Pclass'] !=1) & (df['Pclass'] !=3)]
len(df_survived2)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

87

In [60]:
#number of people who survived and were under 18
df_survived_no18 = df_survived[(df['Age'] < 18)]
len(df_survived_no18)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

61

In [61]:
#probability of survivng
P_survived = len(df_survived)/len(df)
P_survived

0.3838383838383838

In [62]:
#probability of being male
P_male = len(df_male)/len(df)
P_male

0.6475869809203143

In [63]:
#probability of being in 2nd class
P_2ndclass = len(df_2ndclass)/len(df)
P_2ndclass

0.20650953984287318

In [64]:
#probability of being under 18
P_under18 = len(df_under18)/len(df)
P_under18

0.12682379349046016

In [65]:
#probability that you were male given that you survived
P_Msurvived = len(df_survivedM)/len(df_survived)
P_Msurvived

0.31871345029239767

In [66]:
#probability that you were in 2nd class given that you survived
P_2survived = len(df_survived2)/len(df_survived)
P_2survived

0.2543859649122807

In [67]:
#probability that you were under 18 given that you survived
P_no18survived = len(df_survived_no18)/len(df_survived)
P_no18survived

0.1783625730994152

In [69]:
#probability that you survived given that you were male and in 2nd class
P_male_2nd_no18 = (P_survived*P_Msurvived*P_2survived*P_no18survived) / (P_male*P_2ndclass*P_under18)
P_male_2nd_no18

0.3272703808601549

# What is the probability that someone survived given that they were a woman in 3rd class?

In [19]:
#number of people who survived
df_survived = df[df['Survived'] != 0]
len(df_survived)

342

In [21]:
#number of people who were female
df_female = df[df['Sex'] == 'female']
len(df_female)

314

In [22]:
#number of people in 3rd class
df_3rdclass = df[(df['Pclass'] !=1) & (df['Pclass'] !=2)]
len(df_3rdclass)

491

In [58]:
#number of people above 18
df_above18 = df[df['Age'] > 18]
len(df_above18)

575

In [23]:
#number of people who survived and were female
df_survivedF = df_survived[(df['Sex'] == 'female')]
len(df_survivedF)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

233

In [24]:
#number of people who survived and were in 3rd class
df_survived3 = df_survived[(df['Pclass'] !=1) & (df['Pclass'] !=2)]
len(df_survived3)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

119

In [70]:
#number of people who survived and were above 18
df_survived18 = df_survived[(df['Age'] > 18)]
len(df_survived18)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

220

In [25]:
#probability of survivng
P_survived = len(df_survived)/len(df)
P_survived

0.3838383838383838

In [26]:
#probability of being female
P_female = len(df_female)/len(df)
P_female

0.35241301907968575

In [27]:
#probability of being in 3rd class
P_3rdclass = len(df_3rdclass)/len(df)
P_3rdclass

0.5510662177328844

In [71]:
#probability of being above 18
P_above18 = len(df_above18)/len(df)
P_above18

0.6453423120089786

In [28]:
#probability that you were female given that you survived
P_Fsurvived = len(df_survivedF)/len(df_survived)
P_Fsurvived

0.6812865497076024

In [29]:
#probability that you were in 3rd class given that you survived
P_3survived = len(df_survived3)/len(df_survived)
P_3survived

0.347953216374269

In [72]:
#probability that you were above 18 given that you survived
P_18survived = len(df_survived18)/len(df_survived)
P_18survived

0.6432748538011696

In [74]:
#probability that you survived given that you were female, in 3rd class and above 18
P_female_3rd_above18 = (P_survived*P_Fsurvived*P_3survived*P_18survived) / (P_female*P_3rdclass*P_above18)
P_female_3rd_above18

0.46703537222734776

# What is the probability that someone survived given that were a man in 1st class?

In [31]:
#number of people who survived
df_survived = df[df['Survived'] != 0]
len(df_survived)

342

In [32]:
#number of people who were male
df_male = df[df['Sex'] == 'male']
len(df_male)

577

In [33]:
#number of people in 1st class
df_1stclass = df[(df['Pclass'] !=2) & (df['Pclass'] !=3)]
len(df_1stclass)

216

In [75]:
#number of people above 18
df_above18 = df[df['Age'] > 18]
len(df_above18)

575

In [34]:
#number of people who survived and were male
df_survivedM = df_survived[(df['Sex'] == 'male')]
len(df_survivedM)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

109

In [35]:
#number of people who survived and were in 1st class
df_survived1 = df_survived[(df['Pclass'] !=2) & (df['Pclass'] !=3)]
len(df_survived1)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

136

In [76]:
#number of people who survived and were above 18
df_survived18 = df_survived[(df['Age'] > 18)]
len(df_survived18)

/Users/selome/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

220

In [36]:
#probability of survivng
P_survived = len(df_survived)/len(df)
P_survived

0.3838383838383838

In [37]:
#probability of being male
P_male = len(df_male)/len(df)
P_male

0.6475869809203143

In [38]:
#probability of being in 1st class
P_1stclass = len(df_1stclass)/len(df)
P_1stclass

0.24242424242424243

In [77]:
#probability of being above 18
P_above18 = len(df_above18)/len(df)
P_above18

0.6453423120089786

In [39]:
#probability that you were male given that you survived
P_Msurvived = len(df_survivedM)/len(df_survived)
P_Msurvived

0.31871345029239767

In [40]:
#probability that you were in 1st class given that you survived
P_1survived = len(df_survived1)/len(df_survived)
P_1survived

0.39766081871345027

In [78]:
#probability that you were above 18 given that you survived
P_18survived = len(df_survived18)/len(df_survived)
P_18survived

0.6432748538011696

In [79]:
#probability that you survived given that you were male and in 1st class
P_male_1st_above18 = (P_survived*P_Msurvived*P_1survived*P_18survived) / (P_male*P_1stclass*P_above18)
P_male_1st_above18

0.30888290570049326

# Answer: a woman in 3rd class was more likely to survive than a boy in 2nd class and a man in 1st class